<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watering OS 3.0</title>
    <!-- ICON SECTION -->
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png?v=201">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=201">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=201">
    <link rel="manifest" href="/site.webmanifest?v=201">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=201" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=201">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <!-- ------------ -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style type="text/css">
        .footer {
            line-height: 0px;
        }
        .container{
            max-width: unset;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm fixed-top navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Watering" asp-action="Index">Watering System OS 3.0</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Watering" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Watering" asp-action="Journal">Journal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Watering" asp-action="Level">Level</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Watering" asp-action="Environment">Environment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Watering" asp-action="Power">Power</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Watering" asp-action="Watering">Watering</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Watering" asp-action="ManualControl">Manual Control</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Watering" asp-action="Settings">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Watering" asp-action="SystemSettings">SystemSettings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer fixed-bottom text-muted">
            <div class="container">
                <table width=100%>
                    <tbody>
                        <tr height="32px">
                            <td height="32px">&copy; 2020 - Michael Kollmeyer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></td>
                            <td height="32px" style="text-align: right;">Version:</td>
                            <td height="32px" width=120px style="padding-left:10px"><span class="text" style="text-align: right;" id="txt_Version">---</span></td>
                        </tr>
                        <tr height="24px" style="vertical-align:top">
                            <td height="24px"></td>
                            <td height="24px" style="text-align: right;">Uptime:</td>
                            <td height="24px" width=120px><span class="text" style="padding-left:10px; text-align: right;" id="txt_Uptime">--:--:--</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('#txt_Version').load('/DataProvision/GetSoftwareVersion');
            $('#txt_Uptime').load('/DataProvision/GetServerUptime');
        });
        setInterval(function () {
            $('#txt_Uptime').load('/DataProvision/GetServerUptime');
        }, 1000);
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
