@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container" style="width:100%;margin:80px 0px 0px 0px;">
        <h1>"Privacy Policy"</h1>

        <p>Use this page to detail your site's privacy policy.</p>
    </div>